HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/src/test/
*.iws
*.iml
*.ipr
.idea/
.mvn/
mvnw
mvnw.cmd
*/target
*.iml


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
src/test/java/com/orange/minip/Controller/
